* {
    box-sizing:  border-box;
 }
 body {
     margin: 0;
     padding: 0;
     font-family: Helvetica, Arial, sans-serif;
     background-color: #f1f1f1;
 }

 #page2 {
    display: none;
   }
 .btn-box  {
   text-align: center;
 }
 
 .btn-box button {
     width: 200px;
     padding: 8px 12px;
 }
 .btn-box button:focus {
     background-color: black;
     color: white;
 }
 .card {
     width: 18rem;
     border: 1px solid black;
     padding: 0;
     text-align: center;
 }
 
 .card .card-title{
     font-size: 42px;
     font-weight: bold;
 }
 .cards-box {
     padding: 50px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 40px;
     align-items: flex-end;
    
     
 }
 .go-some {
     padding: 10px;
     width: 200px;
     border: 1px solid black;
     margin: 5px auto;
     background-color: black;
     color: white;
 }
 .go-some:hover {
     background-color: blue;
     color: black;
 }
 #third-btn:hover {
     background-color: pink;
     color: black;
 }
 
 
 .card-btn {
     padding: 8px 12px;
     
     width: 300px;
     text-decoration: none;
     color:white;
     margin: 20px auto;
 }
 
 
 .card ul {
     text-align: left;
     padding: 20px;
 }
 
 .card-img-top {
     width: 60%;
 }
 
 .card ul li {
     margin-bottom: 20px;
 }
 .third ul {
     list-style: none;
     
 }
 
 .third ul li::before {
     content: "\2022";
     color: yellow;
     font-weight: bold;
     display: inline-block; 
     width: 1em;
     margin-left: -1em;
   }
 
   .second ul {
     list-style: none;
   }
 
   .second ul li::before {
     content: "\2022";
     color: pink;
     font-weight: bold;
     display: inline-block; 
     width: 1.3em;
     margin-left: -1em;
   }
   .second {
     padding-top:0 ;
   }
 
   .second .head-paraf {
     background-image: linear-gradient(to right, #FF3A96, #FFF938);
     padding: 10px;
     margin: 0;
   }
 
 .main-pa{
     text-align: center;
     margin: 40px;
 }
 .main-pa a{
     color: black;
     text-decoration: none;
     font-size: 22px;
 }
 
 header {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
    position: relative;
}

nav {
display: grid;
grid-template-columns: auto auto auto auto;
    list-style: none;
}

nav a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-size: 1.1em;
}
nav a:hover {
    color: pink;
}

.link-btn{
    text-decoration: none;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    font-weight: bold;
    padding: 12px 14px;
    font-size: 18px;
    max-width: 200px;
    text-align: center;
    margin: 0;
}

main {
    padding: 0;
    margin: 0;
}
main .main-pa{
    text-align: center;
    margin-bottom: 20px;
}
main .main-pa a{
    color: black;
    text-decoration: none;
    font-size: 22px;
}







footer {
    width: 100%;
    background-color: black;
    color: white;
    height:350px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.first-row {
    display: flex;
}
.row ul {
    
    justify-content: space-around;
    width: 100%;
    list-style: none;

}
.row li {
    margin-bottom: 30px;
}

.row li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
}
.logos {
    display: grid;
    grid-template-columns: auto;
    row-gap: 40px;
}

.logos a:hover{
    opacity: .6;;
}

header .icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #f1f1f1;
}

.info nav a{
    color: #f1f1f1;
    text-decoration: none;
    font-size: .8em;

}
main .cards-box{
    display: 'none';
}

@media (max-width:500px) {
    header{
        justify-content: space-between;
        padding: 0;
        display: block;
        
    }
    
    .header-nav{
        display: none;
        background-color: black;
       width: 100%;
       padding: 0;
       grid-template-columns: auto;
       text-align: center;
       margin-top: 20px;
       


    }
    .header-nav a {
        color: white;
        padding: 10px;
    }
    header > button{
        display: none;
    }
    header .icon {
        display: block;
    }
    footer {
        display: block;
        height: auto;
        
        padding: 10px;
        
    }
    footer .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logos {
       display: flex;
       justify-content: space-between;
       width: 100%;
       
       
    }
    .row ul a{
        font-size: .9em;
    }
    
}






 
 
 
 